* {
  padding: 0;
  margin: 0
}

.header-container {
  background-color: #80558C;
  padding: 5px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
}

.header-text {
  color: #FFF
}

.container {
  flex: 1;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #D6EFED;
}

.card {
  width: 40%;
  height: 60%;
  display: flex;
  /* overflow-y: scroll; */
  flex-direction: column;
  gap: 10px
}

.todo-container {
  height: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
}

.add-todo {
  border: none;
  background-color: #80558C;
  padding: 10px 20px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 1.2rem;
  border-radius: 100px;
  cursor: pointer;
}

.submit {
  border: none;
  background-color: #80558C;
  padding: 10px 20px;
  color: #FFF;
  align-self: center;
}

.submit:active {
  background-color: #55315e;
}

.add-todo:active {
  background-color: #55315e;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}

.modal-content {
  width: 40%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.modal-header {
  font-size: 1.2rem;
  color: #80558C;
  font-weight: bold;
  text-align: center;
}

.modal-header-container {
  position: relative;
}

.modal-close {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 1.2rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.modal-close:active {
  color: #ddd
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form > input {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  padding: 2px 0px
}

input:focus {
  outline: none !important
}

.icon {
  width: 20px;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  flex: 1;
  padding: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.task-incompleted, .task-completed {
  cursor: pointer;
}

.task-completed{
  text-decoration: line-through;
  font-style: italic;
}